@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
body {
  background-color: #e0eadb;
  line-height: 0.5;
  text-indent: 0;
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 90vh;
  font-family: "Montserrat", sans-serif;
}
.users {
  padding: 25px 30px;
  background-color: azure;
  width: 35vw;
}
@media screen and (max-width: 600px) {
  .users {
    width: 50vw;
  }
  :is(.users, .users-list) .details span {
    font-size: 10px !important;
  }
}
@media screen and (max-width: 400px) {
  .users {
    width: 100vw;
  }
  :is(.users, .users-list) .details span {
    font-size: 10px !important;
  }
}
.users {
  box-shadow: 0 80px 160px rgba(128, 54, 54, 0.1); /* Adjust the values as needed */
}
.users header,
.users-list a {
  display: flex;
  /* margin-top: 5px; */
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 20px;
}
.users-list a {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
}
.wrapper img {
  object-fit: cover;
  border-radius: 50%;
}
:is(.users, .users-list) .content,
header .content {
  display: flex;
  align-items: center;
}
:is(.users, .users-list) .details {
  margin-left: 15px;
}
.users header .content img {
  height: 50px;
  width: 50px;
}
.users header .details p {
  line-height: 0;
}
.users header a {
  text-decoration: none;
}
.users header a:hover {
  text-decoration: underline;
}
.users a {
  text-decoration: none;
  color: #333;
}
/* .users a:hover {
  text-decoration: underline;
} */
:is(.users, .users-list) .details span {
  font-size: 18px;
  font-weight: 700;
}
.users header .logout {
  color: #fff;
  border-radius: 5%;
  background: #333;
  padding: 7px 15px;
  font-size: 17px;
}
.users .search {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.users .search .text {
  font-style: 18px;
}
.users .search input {
  position: absolute;
  height: 42px;
  width: calc(100% - 70px);
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  font-style: 16px;
  padding: 0 13px;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}

.users .search input.active {
  opacity: 1;
  pointer-events: auto;
}

.users .search button {
  width: 47px;
  height: 42px;
  outline: none;
  border: none;
  color: #333;
  background: #fff;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
  font-size: 17px;
  transition: all 0.2s ease;
}

.users .search button.active {
  color: #fff;
  background: #333;
}

.users .search button.active i::before {
  content: "\f00d";
}

.users-list {
  max-height: 350px;
  overflow-y: scroll;
}

:is(.chat-box, .users-list)::-webkit-scrollbar {
  width: 0px;
}

.users-list a {
  padding-right: 10px;
  border-bottom-color: #f1f1f1;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.users-list a:last-child {
  border: none;
  margin-bottom: 0;
}
.users-list a .content img {
  height: 40px;
  margin-bottom: 20px !important;
  width: 40px;
  height: 40px;
  width: 40px;
}
.users-list a .content p {
  color: #67676a;
}
.users-list a .status-dot {
  font-size: 12px;
  color: #468669;
}
.users-list a .status-dot .offline {
  color: #ccc;
}

.chat-area header {
  background-color: #fff;
  border-radius: 18px 18px 0 0;
  display: flex;
  align-items: center;
  padding: 18px 30px;
}

.chat-area {
  width: 450px;
  background-color: #fff;
}

.chat-area header img {
  height: 45px;
  width: 45px;
}

.chat-area header p {
  margin-bottom: 0;
}

.chat-area header span {
  font-size: 17px;
  font-weight: 500;
  position: sticky;
  margin-top: 5px;
}
.chat-box {
  height: 500px;
  background: #f7f7f7;
  line-height: 1;
  padding: 10px 20px 30px 20px;
  box-shadow: inset 0 32px 32px -32px rgb(0 0 0 / 5%),
    inset 0 -32px 32px -32px rgb(0 0 0 / 5%);
  /* border-radius: 0 0 18px 18px; */
}

.chat-box .chat {
  margin: 15px 0;
}

.chat-box {
  overflow-y: scroll;
}

.chat-box .chat p {
  word-wrap: break-word;
  padding: 9px 16px;
  box-shadow: 0 0 32px rgb(0 0 0 / 8%), 0 16px 16px -16px rgb(0 0 0 / 10%);
}

.chat-box .outgoing {
  display: flex;
}

.outgoing .details {
  max-width: calc(100% - 130px);
  margin-left: auto;
}

.outgoing .details p {
  background: #333;
  color: #fff;
  border-radius: 18px 18px 0 18px;
}
.chat-box .incoming {
  display: flex;
  align-items: center;
}
.chat-box .incoming img {
  height: 35px;
  width: 35px;
}

.incoming .details {
  margin-left: 10px;
  max-width: calc(100% - 130px);
  margin-right: auto;
}

.incoming .details p {
  color: #333;
  background: #fff;
  border-radius: 18px 18px 18px 0;
}

.chat-area .typing-area {
  padding: 19px 30px;
  display: flex;
  justify-content: space-between;
}

.typing-area input {
  height: 45px;
  width: calc(100% - 50px);
  font-size: 17px;
  padding: 0 13px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

.typing-area button {
  width: 55px;
  border: none;
  outline: none;
  background: #333;
  color: #fff;
  font-size: 19px;
  cursor: pointer;
  border-radius: 0 5px 5px 0;
}

@media screen and (min-width: 1024px) {
  chat-area {
    width: 100% !important;
  }
}
